.ui.items .item.item-box {
  width: 90%;
  border: grey solid 1px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  border-radius: 5px;
}
.ui.items .item.item-box #avater {
  width: 40px;
  height: 40px;
}

.ui.items .item.item-box .email {
  display: block;
}

.ui.items .item.item-box .right {
  float: right;
}
