.clickable {
  cursor: pointer;
}

.invitation-block {
  width: 50vw;
  position: relative;
  margin: auto;
  border: grey solid 1px;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

.invitation-block .field.field-block {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.invitation-block .my-button {
  margin-top: 10px;
}

.staff-box {
  width: 80%;
  height: 80%;
  min-height: 400px;
  border: grey solid 2px;
  border-radius: 10px;
}

.staff-box .ui.items .item.item-box {
  width: 90%;
  border: grey solid 1px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  border-radius: 5px;
}
.staff-box .ui.items .item.item-box #avater {
  width: 40px;
  height: 40px;
}

.staff-box .ui.items .item.item-box .email {
  display: block;
}

.staff-box .spinner {
  margin-left: 40%;
  margin-top: 30%;
}
