.clickable {
  cursor: pointer;
}

.right {
  float: right;
}

.header {
  background-color: whitesmoke;
  text-align: center;
  /* border: solid 1px;
  border-radius: 5px; */
}

.sider-menu {
  height: 100%;
}

.header h1 {
  display: inline-block;
  font-weight: bold;
}

.content {
  background-color: whitesmoke;
  height: 100vh;
}

.content .container {
  background-color: white;
  /* margin-top: 2vh;
  margin-left: 2vw;
  width: 81vw; */
  /* min-height: 280px; */
  min-height: 100vh;
}

/* .content .container .menu-builder {
  width: 30vw;
} */

.content .container .menu-builder h1 {
  text-align: center;
}

.content .container .menu-builder .menu-segment {
  width: 80%;
  height: 80%;
  min-height: 500px;
  border: grey solid 2px;
  border-radius: 10px;
  margin-left: 10%;
}

.content .container .menu-builder .menu-segment .menu-tips {
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
  text-align: center;
}

.content .container .menu-builder .menu-segment label {
  font-size: 20px;
}

.content .container .menu-builder .menu-segment .menu-content {
  margin-left: 10px;
  margin-top: 10px;
}

.content .container .menu-builder .category-button {
  margin-left: 10%;
  margin-top: 10px;
}

.content .container .menu-builder .menuItem-button {
  margin-right: 10%;
  margin-top: 10px;
}
